# VCS & IDE
.git
.gitignore
.vscode
.idea

# Python junk
__pycache__/
*.py[cod]
*.egg-info/
.build/
dist/
build/
.venv/
venv/

# Local data & caches
.env
.env.*
data/
!data/chroma_db/**
!data/data.json
!data/fjord_data.json
*.csv
!data/csv/**
*.json
!data/data.json
!data/fjord_data.json
*.parquet
notebooks/
*.ipynb
.DS_Store

# Frontend / monorepo things you do NOT want in backend image
../frontend
../data-pipeline
../uummannaq-ice
